.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 100vh;
  padding-top: 10px;
}

.login-form-container {
  background-color: #272727;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 15px;
}

.website-logo {
  width: 120px;
  height: 120px;
  padding-bottom: 30px;
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .login-form-container {
    background-color: #272727;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .website-logo {
    width: 280px;
    height: 120px;
    direction: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin-left: 50px;
  }
}
.form-label {
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  font-family: 'Roboto';
}

.form-input {
  border-radius: 2px;
  border: 1px solid #475569;
  color: #ffffff;
  width: 100%;
  height: 40px;
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}

.login-button {
  color: #ffffff;
  background-color: #6366f1;
  border-width: 0px;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto';
  padding: 5px;
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
}

.error-msg {
  color: #ff0b37;
  font-family: 'Roboto';
}
